.todo-list {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #9363f3;
  border: 10px solid rgb(225, 221, 233);
  border-radius: 5px;
  padding-top: 2rem;

  h1 {
    color: #f4f4f4;
    padding: 15px 10px;
  }
  input {
    padding: 10px;
    width: 400px;
    margin-right: 10px;
    border: 2px solid #8f8e92;
    border-radius: 4px;
  }

  button {
    padding: 10px;
    // background-color: #14a857;
    color: white;
    border: none;
    border-radius: 4px;
    gap: 2rem;
    padding: 10px 15px;
    flex-direction: column;

    &:nth-child(2) {
      background: #007bff;
    }

    &:nth-child(2):hover {
      background-color: #15518d;
    }

    cursor: pointer;
  }
  .update {
    background-color: #eea61f;
    cursor: pointer;
    &:hover {
      background-color: #916109;
    }
  }

  .add {
    background-color: #09a330;
    &:hover {
      background-color: rgb(9, 124, 15);
    }
  }
  .delete {
    background-color: red;
    &:hover {
      background-color: rgb(204, 42, 42);
    }
  }
  ul {
    list-style-type: none;
    padding: 10px 20px;
    gap: 5px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 5px;
      background: #f4f4f4;
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;

      &.completed {
        text-decoration: line-through;
        color: #999;
      }

      span {
        cursor: pointer;
        flex-grow: 1;
      }

      .button-group {
        display: flex;
        flex-direction: column;
        gap: 1px;
      }
    }
  }
}
